body{
   background-color: hsl(0, 0%, 98%);
   font-family: Poppins,sans-serif;
}
.text{
    justify-content: center;
    text-align: center;
    font-size: 15px;
    color:  hsl(234, 12%, 34%);
}
 
#header1 {
    font-weight: 200;
}

#header2 {
    font-weight: 600;
}

/* add style to the whole cards container */
.cards {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
  }
  
  /* add style to each card in the cars container */
  .card {
    flex: 1; 
    max-width: calc(25% - 10px); 
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
    padding: 20px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  /* add style to images on the cards */
  .card img {
    align-self: flex-end;
    margin-top: auto; 
  }

